body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  background: #5b2d8b; /* purple like your logo */
  height: 70px;
  padding: 0 15px;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo-box img {
  height: 70px;
  width: 70px;
  object-fit: contain;
}

.store-name {
  color: #f7b500;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}


/* PRODUCTS */
.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    margin-top: 10px;
}

.buy-btn {
    display: block;
    text-align: center;
    background: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
