* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

/* HEADER */
.header {
  background: #4b1fa6; /* purple */
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-box {
  display: flex;
  align-items: center;
}
.logo {
  height: 60px;
  width: 60px;
  object-fit: cover;
}



.store-name {
  font-size: 20px;
  font-weight: bold;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
}

/* PRODUCTS */
.section-title {
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

.product {
  background: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product h3 {
  font-size: 16px;
  margin: 10px 0;
}

.product p {
  font-weight: bold;
  color: #4b1fa6;
}

.product button {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  border: none;
  background: #ffb703;
  font-weight: bold;
  cursor: pointer;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: white;
}

.cart-container {
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item button {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
}

.checkout-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background: #4b1fa6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
